 selector {
    properties : values;
}

 h1 {
    color: whitesmoke;
}
p {
    font-size: 12px;
}

* {
    padding: 0;
    margin: 10;
}
body {
    font-size: auto;
}
.header {
    width: 900px;
    margin: auto;
    background-color: steelblue;
    padding: 15px;
    font-style: italic;
    font-family: monospace;
    font-size: xx-large;
}

.header h1{
    color: white;
}

.menu {
    width: 900px;
    margin: auto;
    background-color: skyblue;
    padding: 15px;
    font-family: sans-serif;
}

.article {
    width: 900px;
    margin: auto;
    background-color: lightblue;
    padding: 15px;
    font-family: sans-serif;
}
.article img {
    width: 500px;
}
.footer {
    width: 900px;
    margin: auto;
    background-color: skyblue;
    padding: 15px;
}
